/* Core Reset */
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: var(--font-family-body);
    color: var(--color-text-primary);
    background-color: var(--color-background-page);
    -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-family-heading);
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

/* Page Layout */
.page-layout {
    display: flex;
    height: calc(100vh - var(--size-height-top-nav));
    overflow: hidden;
}

.main-content {
    flex: 1;
    overflow-y: auto;
    background-color: var(--color-background-container);
}